#wrapper-hero {
	background: linear-gradient($background 0%, $tertiary 100%);
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	padding: 0;
	display: flex;
	
	.greeting {
		color: $primary;
	}
}