#wrapper-languages {
	background: linear-gradient($secondary 0%, $tertiary 100%);
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	padding: 0;
	.language-header {
		color: $background;
	}
	.language-title {
		margin: 1rem 0;
		padding: 0.4rem 0.6rem;
		background-color: $tertiary;
	}
	.language-progress {
		.progress-bar {
			background-color: $background;
		}
	}
}