// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import 'contact-form7';
@import 'usps';
@import 'projects';
@import 'testimonials';
@import 'languages';
@import 'hero';
@import 'contact';
@import 'header';
@import 'footer';

/* Main colors */

.has-strong-primary-background-color {
    background-color: $primary;
}

.has-primary-color {
    color: $primary;
}

.has-secondary-background-color {
    background-color: $secondary;
}

.has-secondary-color {
    color: $secondary;
}

.has-tertiary-background-color {
    background-color: $tertiary;
}

.has-tertiary-color {
    color: $tertiary;
}

.has-background-background-color {
    background-color: $background;
}

.has-background-color {
    color: $background;
}

.has-pale-purple-background-color {
    background-color: $tert_pale;
}

.has-pale-purple-color {
    color: $tert_pale;
}

/* end main colors */


html {
	scroll-behavior: smooth;
	width: 100vw;
}

main {
	width: 100vw;
}

body {
	color: darken($background, 10%);
}

.padding-container {
	padding: 2rem 0;
}

#content {
	width: 100vw;
}
