// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import 'contact-form7';
@import 'usps';
@import 'projects';
@import 'testimonials';
@import 'languages';
@import 'hero';
@import 'contact';
@import 'header';
@import 'footer';

html {
	scroll-behavior: smooth;
	width: 100vw;
}

main {
	width: 100vw;
}

body {
	color: darken($background, 10%);
}

.padding-container {
	padding: 2rem 0;
}

#content {
	width: 100vw;
}
